/* #Tablet (Landscape)
----------------------------------------------------------------------*/
@media only screen and (min-width: 959px) and (max-width: 1177px) {
	body {overflow-x: hidden}
	.boxed, .boxed-margin, body[class^="frame_"] .full, body[class^="frame_"] .boxed, body[class^="frame_"] .boxed-margin {width: 96%;margin: 0 auto !important}
	.boxed-margin {margin: 10px auto}
	.row { width: 870px }
	.tabs li a {padding: 10px 12px}
	.grid_3 .tabs li a {padding: 10px 8px}
	.sticky {width: 96%}
	.sf-menu li {padding: 0}
	.services .s_info {width: 67%;margin-left: 7%;}
	.f_meta .f_btn span, .product_meta .f_btn span {padding: 0 10px}
	.f_meta div {margin-right: 6px}
	.tten {width: 60px}
	.portfolio-carousel li {width: 273px;height: 172px}
	.contact_section {right: -20px}
	.media-grid a img {width: 90px !important;height: 90px !important;}
	.dev-services h3 {margin: 40px 0 30px;}
}

/* #Tablet (Portrait)
----------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
	body {overflow-x: hidden}
	.boxed, .boxed-margin, body[class^="frame_"] .full, body[class^="frame_"] .boxed, body[class^="frame_"] .boxed-margin {width: 100%;margin: 0 !important}
	.row { width: 700px }
	.grid_9 {width: 100%;}
	.sidebar, .post {width: 100%;margin: 0 0 40px}
	.sf-menu a {padding: 16px 10px}
	.pagination-tt {margin: 0 0 60px 0}
	.twitter_row .tweet {width: 90%}
	.copyright {float: none;display: table;margin: 0 auto}
	.foot-menu {float: none;text-align: center;display: table;margin: 0 auto 0;padding: 4px 10px}
	.foot-menu li {float: none;display: inline-block}
	.portfolio-carousel li {width: 223px;height: 122px}
	.services .s_info {width: 60%;margin-left: 14%}
	.action-one .action-button {width: 26%}
	.action-one .action-t {width: 70%}
	#footer .grid_3, #footer .grid_4, #footer .grid_9 {width: 48%; margin: 0 1% 30px}
	.price-table.grid_3 {width: 23.0% !important;margin: 0 1% !important}
	.tabs li a {padding: 10px 5px}
	.team2 .grid_3 {width: 23.0%;margin: 0 1%}
	.grid_2 {width: 48%;}
	.countdown li span {font-size: 60px}
	.countdown li {width: 120px}
	.dev-services h3 {margin: 40px 0 30px;}
	.mg1, .mg2 {margin: 0 0 30px;}
}

/* #Mobile (Landscape)
----------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
	body {overflow-x: hidden}
	.boxed, .boxed-margin, body[class^="frame_"] .full, body[class^="frame_"] .boxed, body[class^="frame_"] .boxed-margin {width: 100%;margin: 0 !important}
	.row { width: 400px }
	.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .action-one .action-t {width: 100%;margin: 0 0 30px}
	.logo {float: none;margin: 10px auto;width: 180px}
	.site_description {padding: 0;border:0;float: none !important;margin: 0 auto 16px !important;display: table}
	#header .search {display: none}
	.tabs li a {padding: 10px 8px}
	.copyright {float: none;display: table;margin: 0 auto 0;text-align: center}
	.foot-menu {float: none;display: table;text-align: center;margin: 0 auto;padding: 4px 0}
	.foot-menu li {float: none;display: inline-block}
	.social-head {position: absolute;right: 0;}

	#mobilepro { display: block; }
	.sf-menu li.current > a:before { display: none !important; }
	.subarrow {display: block;z-index: 99;position: absolute;top: 14px;right: 10px;cursor: pointer;font-size: 16px;}
	.sf-menu a.sf-with-ul {margin-right: 30px !important}
	.sf-menu, .sf-sub-indicator {width: 100%!important;display: none; margin: 4px 0 !important }
	.sf-menu li { margin-bottom: 10px; margin-left: 0 }
	.sf-menu.xactive {display: block!important;}
	.sf-menu li {float: none!important;display: block!important;width: 100%!important;}
	.sf-menu ul:before { content: ""; border-width: 0 0 0 0 !important }
	.sf-menu > li.sfHover:before {color: #000;background: none;width: 0;height: 0px;}
	.sf-menu li li a {color: #000}
	.sf-menu li:hover ul, .sf-menu li.sfHover ul { padding: 0 !important }
	ul.sf-menu li:hover ul, ul.sf-menu li.sfHover ul, ul.sf-menu li ul { margin-top: 4px }
	.sf-menu li { float: none !important; display: block !important; width: 100% !important;overflow: hidden; }
	.sf-menu li a, .sf-menu li:first-child a, .sf-menu ul li, .sf-menu li.current { float: none !important; border: 0; }
	.sf-menu li:hover ul, .sf-menu li.sfHover ul {box-shadow: none;-webkit-animation: initial;animation: initial;-moz-animation: initial;-o-animation: initial; }
	.sf-menu li li {left: 10px;}
	.sf-menu ul {position:static !important; display: none !important; width: 100%; }
	.xpopdrop > ul {display: block !important; visibility: inherit !important }
	.sf-menu li:hover > a, .sf-menu li > a:hover, .sf-menu li.current > a {border-bottom: 0; border-right: 4px solid;}
	.sf-menu li li, .sfHover, .sf-menu li:hover, .sf-menu li li.current { background: none !important }
	.sf-menu li li:hover > a, .sf-menu li li > a:hover, .sf-menu li li.current > a {color: #f60}
	.sf-menu a {padding: 16px 0}
	.sf-menu li.current > a {position: relative; overflow: visible;}
	.sf-menu li.current > a:after {content: "";position: absolute;right: 0;top: 50%;margin-top: -5px;width: 0;height: 0;border: 5px solid transparent;border-right: 5px solid #2164C0;}

	.action-one .action-button {float: none;width: 100%;text-align: center;margin: 0 auto;display: table;}
	.action-one .action-button span {display: block}
	.grid_7 .content-two-third {width: 60%}
	.loop_box_one li {width: 100% !important;margin: 0 0 20px !important}
	.countdown li {width: 70px;padding: 10px 10px}
	.countdown li span {font-size: 30px}
	.countdown li p.timeRefDays, .countdown li p.timeRefHours, .countdown li p.timeRefMinutes, .countdown li p.timeRefSeconds {font-size: 14px}
	.twitter_row .tweet {width: 80%}
	.animated {opacity:1 !important}
	.client-carousel li {width: 120px;height: 50px}
	.client-carousel li img {margin: 0 auto;}
	.f_blog .f_post img:first-child {width: 100%}
	.portfolio-carousel li {width: 380px;height: 230px;}
	.services [class^="grid_"]:hover {border: 0}
	.filterable ul.filter li {display: block;margin: 0 0 12px 0}
	.product img {width: 100%}
	.pad_foot {padding: 40px 0}
	.f_meta div {margin-right: 10px}
	.contact_section {width: 300px}
	.dev-services h3 {margin: 20px 0 30px !important;}
}

/*  #Mobile (Portrait) 320px
----------------------------------------------------------------------*/
@media only screen and (min-width: 100px) and (max-width: 480px) {
	body {overflow-x: hidden}
	.boxed, .boxed-margin, body[class^="frame_"] .full, body[class^="frame_"] .boxed, body[class^="frame_"] .boxed-margin {width: 100%;margin: 0 !important}
	.row { width: 290px; padding: 0; }
	.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .action-one .action-t {width: 100%;margin: 0 0 30px}
	.logo {float: none;margin: 10px auto;width: 180px}
	.site_description {padding: 0;border:0;float: none !important;margin: 0 auto 16px !important;display: table}
	#header .search {display: none}
	.tabs li a {padding: 10px 8px}
	.copyright {float: none;display: table;margin: 0 auto 0;text-align: center}
	.foot-menu {float: none;display: table;text-align: center;margin: 0 auto;padding: 4px 0}
	.foot-menu li {float: none;display: inline-block}
	.social-head {position: absolute;right: 0;}

	#mobilepro { display: block; }
	.sf-menu li.current > a:before { display: none !important; }
	.subarrow {display: block;z-index: 99;position: absolute;top: 14px;right: 10px;cursor: pointer;font-size: 16px;}
	.sf-menu a.sf-with-ul {margin-right: 30px !important}
	.sf-menu, .sf-sub-indicator {width: 100%!important;display: none; margin: 4px 0 !important }
	.sf-menu li { margin-bottom: 10px; margin-left: 0 }
	.sf-menu.xactive {display: block!important;}
	.sf-menu li {float: none!important;display: block!important;width: 100%!important;}
	.sf-menu ul:before { content: ""; border-width: 0 0 0 0 !important }
	.sf-menu > li.sfHover:before {color: #000;background: none;width: 0;height: 0px;}
	.sf-menu li li a {color: #000}
	.sf-menu li:hover ul, .sf-menu li.sfHover ul { padding: 0 !important }
	ul.sf-menu li:hover ul, ul.sf-menu li.sfHover ul, ul.sf-menu li ul { margin-top: 4px }
	.sf-menu li { float: none !important; display: block !important; width: 100% !important;overflow: hidden; }
	.sf-menu li a, .sf-menu li:first-child a, .sf-menu ul li, .sf-menu li.current { float: none !important; border: 0; }
	.sf-menu li:hover ul, .sf-menu li.sfHover ul {box-shadow: none;-webkit-animation: initial;animation: initial;-moz-animation: initial;-o-animation: initial; }
	.sf-menu li li {left: 10px;}
	.sf-menu ul {position:static !important; display: none !important; width: 100%; }
	.xpopdrop > ul {display: block !important; visibility: inherit !important }
	.sf-menu li:hover > a, .sf-menu li > a:hover, .sf-menu li.current > a {border-bottom: 0; border-right: 4px solid;}
	.sf-menu li li, .sfHover, .sf-menu li:hover, .sf-menu li li.current { background: none !important }
	.sf-menu li li:hover > a, .sf-menu li li > a:hover, .sf-menu li li.current > a {color: #f60}
	.sf-menu a {padding: 16px 0}
	.sf-menu li.current > a {position: relative; overflow: visible;}
	.sf-menu li.current > a:after {content: "";position: absolute;right: 0;top: 50%;margin-top: -5px;width: 0;height: 0;border: 5px solid transparent;border-right: 5px solid #2164C0;}

	.product img {width: 100%}
	.pad_foot {padding: 40px 0}
	.f_meta div {margin-right: 10px}
	.action-one .action-button {float: none;width: 100%;text-align: center;margin: 0 auto;display: table;}
	.action-one .action-button span {display: block}
	.grid_7 .content-two-third {width: 60%}
	.loop_box_one li {width: 100% !important;margin: 0 0 20px !important}
	.countdown li {width: 70px;padding: 10px 10px}
	.countdown li span {font-size: 30px}
	.countdown li p.timeRefDays, .countdown li p.timeRefHours, .countdown li p.timeRefMinutes, .countdown li p.timeRefSeconds {font-size: 14px}
	.twitter_row .tweet {width: 80%}
	.animated {opacity:1 !important}
	.client-carousel li {width: 120px;height: 50px}
	.client-carousel li img {margin: 0 auto;}
	.f_blog .f_post img:first-child {width: 100%}
	.portfolio-carousel li {width: 280px;height: 160px;}
	.services [class^="grid_"]:hover {border: 0}
	.filterable ul.filter li {display: block;margin: 0 0 12px 0}
	.contact_section {width: 300px}
	.media-grid a img {width: 90px !important;height: 90px !important;}
	.dev-services h3 {margin: 20px 0 30px !important;}
}